<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}JIHO'S EBOOK{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

<div id="header">
    <h2 class="maintitle">JIHO'S EBOOK</h2>
    {% if user.is_active %}
    <h4 class="welcome">Welcome,
                <strong>{% firstof user.get_short_name user.get_username %}</strong> /
                <a href="{% url 'password_change' %}">Change Password</a> /
                <a href="{% url 'logout' %}">Logout</a>
    </h4>
    {% else %}
    <h4 class="welcome">안녕하세요, 방문자 님 /
                <a href="{% url 'login' %}">Login</a> /
                <a href="{% url 'register' %}">Register</a>
    </h4>
    {% endif %}
</div>

<div id="menu">
    <li><a href="{% url 'home' %}">Home</a></li>
    <li><a href="{% url 'ebook:index' %}">보유 도서 목록 / 대여 신청</a></li>
    <li><a href="{% url 'ebook:list_check' %}">대여 도서 목록</a></li>
	<li><a href="{% url 'ebook:ebook_api_search' %}">네이버 도서 검색</a></li>
	<li>도서 등록&bigtriangledown;
		<ul>
			<li><a href="{% url 'ebook:ebook_image_add' %}">이미지 업로드</a></li>
			<li><a href="{% url 'ebook:ebook_text_add' %}">텍스트 업로드</a></li>
		</ul>
    </li>
    <li><a href="{% url 'admin:index' %}">관리자 페이지</a></li>

</div>
{% if messages %}
    <div id="container">
        {% for message in messages %}
            <li class="alert alert-{{ message.tags }}">
                [{{ message.tags }}]      {# 메세지 Level #}
                {{ message.message }}   {# 실제 메세지 내용 #}
            </li>
        {% endfor %}
    </div>
{% endif %}


{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
