/* ebook_content_image.html */
div#content_image {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
	padding: 5px 0 1px 0;
    text-align: center;
	background: #F5F5F5;
}

div#content_text {
    position: absolute;
    top: 100px;
    left: 410px;
    right: 410px;
	padding: 5px 0 1px 0;
    text-align: center;
	background: #F5F5F5;
}

form{
	position: absolute;
	top: 0px;
}

img.thumbnail {
    border:3px solid white;
}
 
div#content {
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
}

