/* ebook_content_image.html */
div#content_home {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
}

div#homeimg {
    background: #ddd;
    padding: 5px 0 1px 0;
    text-align: center;
}

/* common */
img.thumbnail {
    border:3px solid #ccc;
}
 
div#content {
    position: absolute;
    top: 70px;
    left: 50px;
    right: 50px;
}
