div#content_home {
    position: absolute;
    top: 80px;
    left: 110px;
    right: 110px;
	text-align: center;
}

div#homeimg {
    background: white;
    padding: 5px 0 1px 0;

}

table#applist {
	position: relative;
	margin: auto;
	top: 455px;
}