{% extends "base.html" %}

{% block title %}books_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "ebook/ebook.css" %}{% endblock %}

{% block content %}
<div id="content">
	<!-- view의 listview에서 object_list 가져옴 -->
    {% for item in object_list %}

    <div class="clear_float">
        <h2 style="display:inline"><a href="{% url 'ebook:ebook_detail' item.id %}">{{ item.title }}</a></h2>
        &emsp;<b><i>저자 : {{ item.author }}</i></b>
		<!-- &emsp;는 띄어쓰기 -->
		&emsp;<b><i>요약 : {{ item.description }}</i></b>
    </div>

    <hr/>

    <div class="album-list">
        {% for photo in item.books_set.all %}
        <div class="album-list-photo">
            <a href="{% url 'ebook:ebook_detail' item.id %}">
            <img class="thumbnail" src="{{ books.image.thumb_url }}" />
			<!-- DB에서 image의 thumb_url 을 가져옴 -->
            </a>
        </div>
        {% endfor %}
    </div>

    {% endfor %}

</div>
{% endblock %}
