{% extends "base.html" %}

{% block title %}books_list.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "ebook/ebook.css" %}{% endblock %}

{% block content %}



<div id="content">

<form id="form" action="." method="post"> {% csrf_token %}
	<b>{{ form }}</b>
	<input type="submit" value="검색" />
</form>
<br/><br/>
{% if object_list %}
	<!-- view의 listview에서 object_list 가져옴 -->
    {% for item in object_list %}

    <div class="clear_float">
		<!-- 썸네일 이미지는 thumb_url 에서 가져옴 -->
		<img class="thumbnail" src="{{ item.cover_image.thumb_url }}" />
        &emsp;<h2 style="display:inline"><a href="{% url 'ebook:ebook_detail' item.id %}">{{ item.title }}</a></h2>
        &emsp;<b>저자 : {{ item.author }}</b>
		<!-- &emsp;는 띄어쓰기 -->
		&emsp;<b>요약 : {{ item.description }}</b>
    </div>

    <hr/>
    {% endfor %}
	
<br/>
<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}
      
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>
</div>	
<br/><br/>
{% elif search_word %}
<!-- 검색 후 매칭되는 내용이 없을 경우 -->
<b><i>"{{ search_word }}" 을(를) 찾을 수 없습니다.</i></b>

{% endif %}

</div>
{% endblock %}