{% extends "base.html" %}

{% block title %}ebook_rent_list.html{% endblock %}

{% block content %}
<div id="content">

    <h1>{{ user }} 님이 대여한 도서 목록</h1>
    
    <table class="change-list">
        <tr>
            <th>책 이름</th>
            <th>사용자 계정</th>
            <th>대여 반납 날짜</th>
            <th>책 보기</th>
        </tr>
    
        {% for item in object_list %}
        <tr>
            <td>{{ item.book }}</td>
            <td>{{ item.user }}</td>
            <td>{{ item.rent_end }}</td>
            <td><a href="{% url 'ebook:ebook_content' item.id %}">GO!</a></td>
        </tr>
        {% endfor %}
    </table>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}
      
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
      
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>
</div>	
	
</div>
{% endblock %}
